@use "sass:map";

$fontRegular: 'FiraSans-Regular';
$fontMedium: 'FiraSans-Medium';
$fontLight: 'FiraSans-Light';

$colors: (
    line_1: #04AC5F,
    line_2: #EF1923,
    line_3: #91147C,
    line_4: #8AAC04
);

.sidebar {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 350px;
    padding: 0px;
    align-self: stretch;
    background-color: #fff;
    z-index: 20;
    box-shadow: 3px 0px 5px 1px rgba($color: #000000, $alpha: .10);
    font-family: $fontRegular;

    &__box {
        padding-bottom: 40px;
    }

    &__top {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0.6rem;
        box-shadow: 0px 2px 2px 0.5px rgba($color: #000000, $alpha: .10);
        margin-top: 1rem;

        a {
            width: 30%;
            
            .logo {        
                img {
                    width: 100%;
                }
            }
        }

        .location {
            display: flex;
            align-items: center;

            &__flag {
                width: 24px;
                height: 24px;
    
                img {
                    width: 100%;
                    height: 100%;
                }
            }
    
            &__city {
                margin-left: 0.3rem;
                font-size: 14pt;
                font-family: $fontMedium;
            }
        }
    }

    &__center {
        width: 92%;
        margin: 0 auto;

        &--fixed {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__route-reset {
        margin-top: 1.5em;

        .route-reset {
            &__button {
                outline: none;
                border: none;
                background-color: transparent;
                transition: color 0.3s;
                font-size: 12pt;
                font-family: $fontMedium;
                color: #777;

                &:hover {
                    cursor: pointer;
                    color: #71AA67;
                    transition: color 0.3s;
                }
            }
        }
    }

    &__points {
        display: flex;
        margin-top: 2rem;

        .points {
            display: flex;
            align-items: center;
            $parentPoints: #{'.points'};

            &__stations {
                display: flex;
                flex-direction: column;
                width: 90%;

                #{$parentPoints}#{__from_to} {
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;

                    &:last-child {
                        margin-bottom: 0px;
                    }

                    #{$parentPoints}#{__dot_line} {
                        width: 12px;
                        height: 12px;
                        background-color: #ddd;
                        border-radius: 50%;
                    }
        
                    #{$parentPoints}#{__input} {
                        display: block;
                        width: calc(100% - 12px);
                        padding-left: .5rem;
                        position: relative;
        
                        input {
                            display: block;
                            width: inherit;
                            box-sizing: border-box;
                            padding: 10px;
                            border-radius: 4px;
                            outline: none;
                            border: 1px solid transparent;
                            background-color: #f6f6f6;
                            font-size: 11pt;
                            font-family: $fontMedium;
                            transition: border 0.3s;

                            &::placeholder {
                                color: #999;
                            }
                            
                            &:hover {
                                border: 1px solid #ddd;
                                transition: border 0.3s;
                            }

                            &:focus {
                                border: 1px solid blue;
                                transition: border 0.3s;
                            }
                        }

                        svg {
                            display: block;
                            width: 11px;
                            height: 11px;
                            position: absolute;
                            top: calc(26px / 2);
                            right: 1.5rem;
                            cursor: pointer;
                            opacity: 0;
                            transition: opacity 0.3s;

                            g {
                                fill: #b8b8b8;
                            }

                            &:hover g {
                                fill: #888;
                            }
                        }

                        &:hover {
                            svg {
                                opacity: 1;
                                transition: opacity 0.3s;
                            }
                        }
                    }
                }
            }

            &__reverse {
                display: flex;
                justify-content: center;
                width: 10%;

                &--active {
                    cursor: pointer;

                    &:hover svg g {
                        fill: #555;
                    }
                }

                svg {
                    width: 20px;
                    height: 20px;

                    g {
                        fill: #999;
                    }
                }
            }
        }
    }

    &__routes {
        display: flex;
        margin-top: 2rem;

        .routes {
            display: flex;
            flex-direction: column;

            &__times {
                display: flex;
                align-items: center;
                padding: 5px;
                padding-bottom: 10px;
                padding-top: 10px;
                border-bottom: 1px solid #ddd;
                border-top: 1px solid #ddd;

                .routes-times {
                    &__time {
                        font-family: $fontMedium;
                        font-size: 14pt;
                        color: #555;
                        margin-right: 0.4rem;
                    }

                    &__transfer {
                        margin-left: 0.4rem;
                        font-size: 12.5pt;
                        color: #999;
                        font-family: $fontMedium;
                        padding-top: 2px
                    }
                }
            }

            &__list {
                display: flex;
                flex-direction: column;
                list-style: none;
                margin: 0px;
                padding: 0px;
            }

            &__path {
                display: flex;
                justify-content: flex-end;
                margin-top: 1rem;

                .route-path {
                    width: 80%;

                    &__move {
                        display: flex;
                        flex-direction: column;
                        list-style: none;
                        margin: 0px;
                        padding: 0px;
                        margin-bottom: 1rem;
                        position: relative;

                        &:last-child {
                            margin-bottom: 0px;
                        }

                        .station {
                            display: block;
                            position: relative;

                            &__text {
                                font-size: 11pt;
                                padding: 10px 15px;
                            }

                            &--first-last {
                                .station {
                                    &__text {
                                        font-size: 12pt;
                                        font-family: $fontMedium;
                                    }
                                }
                            }                            
                        }
                    }

                    $colorLine: 'route-path__move--color-';

                    @each $name, $color in $colors {
                        .#{$colorLine}#{$name} {
                            .station {
                                border-left: 1.5px solid $color;

                                &__line {
                                    display: flex;
                                    align-items: center;
                                    position: absolute;
                                    left: 0px;
                                    top: 0px;
                                    width: 10px;
                                    height: 100%;

                                    &::after {
                                        display: flex;
                                        content: '';
                                        position: absolute;
                                        width: 5px;
                                        height: 5px;
                                        left: -5px;
                                        margin-bottom: 1.2px;
                                        border-radius: 50%;
                                        border: 1.5px solid $color;
                                        background-color: #fff;
                                    }
                                }

                                &--first-last {
                                    .station__line {
                                        &::after {
                                            width: 8px;
                                            height: 8px;
                                            border: none;
                                            background-color: $color;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &__time {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        left: -55px;
                        font-size: 10.5pt;
                        font-family: $fontMedium;
                        color: #999;
                        align-items: flex-start;
                        justify-content: center;
                        height: 100%;
                    }
                }

                .routes-transfer {
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;
                    color: #999;

                    &__icon {
                        svg {
                            width: 16px;
                            height: 16px;

                            g {
                                fill: #999;
                            }
                        }
                    }

                    &__text {
                        padding-bottom: 2px;
                        margin-left: 5px;
                        font-size: 11pt;
                    }
                }
            }
        }
    }
}