.main {
    display: flex;
    flex-grow: 1;
    overflow: hidden;

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    &__content {
        display: flex;
        align-self: stretch;
        padding: 10px;
        width: calc(100% - 350px);
        overflow: hidden;
    }

    &__svg {
        width: 75%;
        margin: 0 auto;
        position: relative;
        transform-origin: 0px 0px;
        transform: scale(1) translate(0px, 0px);

        svg {
            width: 100%;
            height: auto;
        }
    }
}