.scheme-metro-view {
    position: absolute;
    overflow: visible;

    &--opacity {
        opacity: .3;
    }

    &__label {
        cursor: pointer;
        outline: 0;
        pointer-events: all;
        fill: black;
        transition: fill 0.3s, opacity 0.2s;

        &--opacity {
            opacity: .3;
            transition: opacity 0.2s;
        }

        &:hover > text {
            fill: #71AA67;
            opacity: 1;
            transition: fill 0.3s, opacity 0.2s;
        }
    }
}

.scheme-metro-view--onclick {
    pointer-events: none;
}